{% extends "base.html" %}
{% block content %}

<div id="users">
</div>

<script type="text/javascript">
    var users = {{users|tojson|safe}};
    window.onload = function(){
        for (var i in users){
            document.getElementById("users").innerHTML += 
            `
            <div>
            <a href="/user/`+users[i].id+`">`
            +twemoji.parse(String.fromCodePoint(users[i].emoji))+users[i].username+`
            </a>
            </div>
            `;
        }
    };
</script>

{% endblock %}